.age-calculator {
  background-color: var(--clr-neutral-100);
  padding: 2rem;
  border-radius: 1rem 1rem 10rem 1rem;
}
@media (min-width: 50rem) {
  .age-calculator {
    min-width: 45rem;
  }
}

.age-calculator__form {
  position: relative;
  border-bottom: 1px solid var(--clr-neutral-300);
  padding: 0 0 3.5rem 0;
}

.inputWrapper{
  position: relative;
}

.label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-100);
  letter-spacing: 0.2rem;
  color: var(--clr-neutral-400);
}



.input {
  padding: 1rem;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 0.6rem;
  font-size: var(--fs-100);
  font-weight: var(--fw-bold);
}
@media (min-width:50rem) {
  .input {
    padding: 1rem 5rem 1rem 2rem;
     
  }
}

.error {
  font-size: var(--fs-100);
  font-style: italic;
  color: var(--clr-secondary-400); 
 

}

.btnImage{
  width: 2rem;
  height: 2rem;
}

@media (min-width:50rem) {
  .btnImage{
    width: 2.5rem;
    height: 2.5rem;
  }
}

.result {
  font-size: var(--fs-900);
  font-weight: var(--fw-black);
  font-style: italic;
  padding-top: 2.5rem;
}

.hyphen-minus {
  color: var(--clr-primary-400);
}


.error{
  color: crimson;
}