@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
  max-height: auto;
  scrollbar-width: none;
  scroll-snap-type: none;
    overflow-x: hidden;
}

/* Adjust background size for smaller screens */
@media (max-width: 768px) {
  .group {
    display: none;
  }
 
  .logo{
    font-size: 1rem;
  }
  .goat{
   margin-top: 0rem;
   margin-right: 40rem;
   display: grid;
   width: max-content;
  
  }
  .hero{
    margin-top: 2rem;
  }
  .list{
    display: none;
  }
  .list2{
   display: block;
  }
  .logo2{
    display: flex;
    align-items:center;
   margin-top: -22rem;
    margin-left: 1rem;
    margin-right: -1.5rem;
 font-size: 2rem;
  }
  .footer{
    width:auto;
  }

  .mtn{
   display: none;
  }
 
  .goat h1{
    font-size: 1.5rem;           
  font-weight: 300;                      
  text-align: center;          
            
  margin-top: 0;              
  margin-right: 0;             
  }

  .goat p{
    font-size: 10px;
  text-align: justify;
   align-items:start;
   line-height: 1.4;
  }
  .btn{
    display: block;
  }
  .gallery{
    display:none;

  }
  .header{
    display: flex;
    justify-self: center;
    margin-left: 12rem;
  }
  .mobile{
    width: 80%;
  }
  .header{
   margin-left: 6rem;
   padding-right: 2rem;
   justify-self: center;
   margin-right: 0rem;
   width: max-content;
   
  }
  .bnt{
    margin-right: 4rem;
  }
}
@media (min-width: 1024px) { 
.btn{
display: none;
}
.mobile{
 display: block;

}
.footer{
 height: 25vh;
}

 }

 @media (min-width: 640px) { 
  .btn{
    display: none;
  }
  .mobile{
    display: none;
   
   }
   
  }