@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  scroll-behavior: smooth;
  max-height: auto;
  /* overflow: hidden; */
  scrollbar-width: none;
  scroll-snap-type: none;
}